<launch>
  <arg name="launch_camera" value="true" />
  <arg name="run_image_view" value="true" />
  <arg name="launch_lidar" value="false" />
  <arg name="launch_serial" value="false" /> <!--us, lights, imu, rc-->
  <arg name="launch_vesc" value="false" />
  <arg name="manual_control" value="false"/> 
  <arg name="control_type" value="rc"/> <!--rc or joy-->

  <arg name="record_bagfile" value="true" />
  <arg name="record_topics" value="/uss_values" />
  <arg name="record_path" value="$(find mxck_run)/bagfiles/bag" />
   
   <!--ports-->
  <arg name="joy_port" value="/dev/input/js0" />
  <arg name="vesc_port" value="/dev/vesc" />
  <arg name="stm_port" value="/dev/stm32_nucleo" />
  <arg name="stm_baud" value="921600" />
  
  <arg name="racecar_version" default="mxck" />
   
  <!--paramfiles-->
  <arg name="rc_config" default="$(find mxck_run)/config/rc_config.yaml" />
  <arg name="joy_config" default="$(find mxck_run)/config/joy_config.yaml" />
  <arg name="vesc_config" default="$(find vesc_main)/config/$(arg racecar_version)/vesc.yaml" />

  <rosparam file="$(arg rc_config)" command="load" />
  <rosparam file="$(arg joy_config)" command="load" />
  <rosparam file="$(arg vesc_config)" command="load" />

  <!--camera-->
  <group if="$(arg launch_camera)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
      <arg name="color_width" value="1920"/>
      <arg name="color_height" value="1080"/>
      <arg name="color_fps" value="6"/>
      <arg name="enable_confidence" value="False"/>
      <arg name="enable_depth" value="False"/>
    </include>
  </group>

  <!--image-view-->
  <group if="$(arg run_image_view)">
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
      <remap from="image" to="/camera/color/image_raw" />
    </node>
  </group>

  <!--record-->
  <group if="$(arg record_bagfile)">
    <node pkg="rosbag" type="record" name="record_bagfile" 
        args="record -o $(arg record_path) $(arg record_topics) ">
    </node>
  </group>
  
  <!--lidar-->
  <group if="$(arg launch_lidar)">
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  </group>
  
  <!--serial-->
  <group if="$(arg launch_serial)">
    <node pkg="rosserial_python" type="serial_node.py" name="rosserial" output="screen">
      <param name="port" value="$(arg stm_port)" />
      <param name="baud" value="$(arg stm_baud)" />
    </node>
  </group>
  
  <!--manual control-->
  <group if="$(arg manual_control)">
    <group if="$(eval arg('control_type') == 'rc')">
      <node pkg="mxck_run" name="rc_control" type="rc_control.py" output="screen" />
    </group>  

    <group if="$(eval arg('control_type') == 'joy')">
      <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="dev" value="$(arg joy_port)" />
      </node>

      <node pkg="mxck_run" name="joy_control" type="joy_teleop.py" output="screen">
        <remap from="low_level/ackermann_cmd_mux/input/teleop" to="/ackermann_cmd"/>
      </node>
    </group>
  </group>
  
  <!--VESC-->
  <group if="$(arg launch_vesc)">
    <include file="$(find vesc_ackermann)/launch/ackermann_to_vesc_node.launch" />

    <include file="$(find vesc_driver)/launch/vesc_driver_node.launch" >
      <arg name="port" value="$(arg vesc_port)" />
    </include>
  </group>


</launch>


